<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>


<body>
    <h1>Calculator</h1>
    <div class="calculator-wrapper">
        <div class="row-1">
            <button type="submit">7</button>
            <button type="submit">8</button>
            <button type="submit">9</button>
        </div>
        <div class="row-2">
            <button type="submit">4</button>
            <button type="submit">5</button>
            <button type="submit">6</button>
        </div>
        <div class="row-3">
            <button type="submit">1</button>
            <button type="submit">2</button>
            <button type="submit">3</button>
        </div>
        <div class="row-4">
            <button type="submit">0</button>
        </div>
    </div>
</body>

</html>